n8n/ai-content-update.json
{
  "name": "SCC: AI content update → WP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-content-update",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "scc-ai-content"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4000,\n  \"messages\": [{\"role\": \"user\", \"content\": $json.prompt}]\n}"
      },
      "id": "claude-1",
      "name": "Claude generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Webhook').item.json.wp_api_url }}/posts/{{ $('Webhook').item.json.wp_post_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": $json.content[0].text\n}"
      },
      "id": "wp-1",
      "name": "WP update post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE",
          "name": "WP Application Password"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1080, 300]
    }
  ],
  "connections": {
    "Webhook":         { "main": [[{ "node": "Claude generate", "type": "main", "index": 0 }]] },
    "Claude generate": { "main": [[{ "node": "WP update post",  "type": "main", "index": 0 }]] },
    "WP update post":  { "main": [[{ "node": "Respond",         "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["seo-command-center"]
}
